body {
    padding: 2em;
}

ul {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

ul li {
    background-color: #fcfcfc;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

img {
    max-height: 10em;
}